SFML
.DS_Store
*.o
*.exe
*.dll
game
.vscode
test
session
*.swp
/myProject/Debug/myProject.tlog
/myProject/Debug
/myProject
/.vs/myProject/v16
/.vs
/x64/Debug/vc142.pdb
/x64/Debug/vc142.idb
/x64/Debug/test.obj
/x64/Debug/myProject.vcxproj.FileListAbsolute.txt
/x64/Debug/myProject.tlog/myProject.lastbuildstate
/x64/Debug/myProject.tlog/link.write.1.tlog
/x64/Debug/myProject.tlog/link.read.1.tlog
/x64/Debug/myProject.tlog/link.command.1.tlog
/x64/Debug/myProject.tlog/CL.write.1.tlog
/x64/Debug/myProject.tlog/CL.read.1.tlog
/x64/Debug/myProject.tlog/CL.command.1.tlog
/x64/Debug/myProject.pdb
/x64/Debug/myProject.log
/x64/Debug/myProject.ilk
/x64/Debug/myProject.Build.CppClean.log
/x64/Debug/MenuButton.obj
/x64/Debug/main.obj
/x64/Debug/Library.obj
/x64/Debug/HooverableRectShape.obj
/x64/Debug/GameObject.obj
/x64/Debug/DragNDropField.obj
/x64/Debug/ClickableHooverableRectShape.obj
/x64/Debug/Button.obj
/myProject.vcxproj.user
/myProject.vcxproj.filters
/myProject.vcxproj
/myProject.sln
/Debug/vc142.pdb
/Debug/test.obj
/Debug/myProject.tlog/unsuccessfulbuild
/Debug/myProject.tlog/myProject.lastbuildstate
/Debug/myProject.tlog/link.write.1.tlog
/Debug/myProject.tlog/link.read.1.tlog
/Debug/myProject.tlog/link.command.1.tlog
/Debug/myProject.tlog/link-rc.write.1.tlog
/Debug/myProject.tlog/link-rc.read.1.tlog
/Debug/myProject.tlog/link-cvtres.write.1.tlog
/Debug/myProject.tlog/link-cvtres.read.1.tlog
/Debug/myProject.tlog/CL.write.1.tlog
/Debug/myProject.tlog/CL.read.1.tlog
/Debug/myProject.tlog/CL.command.1.tlog
/Debug/myProject.pdb
/Debug/myProject.log
/Debug/MenuButton.obj
/Debug/main.obj
/Debug/Library.obj
/Debug/HooverableRectShape.obj
/Debug/GameObject.obj
/Debug/DragNDropField.obj
/Debug/ClickableHooverableRectShape.obj
/Debug/Button.obj
