SFML
.DS_Store
*.o
*.exe
*.dll
game
.vscode
test
session
*.swp
/myProject/Debug/myProject.tlog
/myProject/Debug
/myProject
/.vs/myProject/v16
/.vs
/x64/*
/Debug/*


*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.sln

